* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f1f1f1;
    margin: 0px
}

.container {
    width: 100%;
}

/* 头部标题 */
#header {
    text-align: center;
    font-size: 2.2rem;
}

.header h1 {
    font-size: 30px;
    margin: 0px;
}

#MapHeadContainer {
    text-align: center;
    width: 102%;
}

#TimeLineHead {
    width: 100%;
}

#TimeLineHead{
    font-size: 100%;
    margin-top: 0%;
}

#TotalNum {
    margin-top: 0.1%;
    margin-bottom: -9%;
}

#ProvinceBarHead {}

#InstitutionBarHead {
    text-align: center;
    margin: 1.5%;
    margin-bottom: 0px;
}
.BarHeadContainer{
    padding-left: 6%;
}

.ViewTitle {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0px;
    font-size: 1.8rem;
}

.ViewSubTitle {
    text-align: center;
    font-size: 1.4rem;
}

#ProvinceNum {
    margin-top: 0%;
    margin-bottom: -6%;
    position: relative;
}

#InstitutionNum {
    margin-top: 0%;
    margin-bottom: -6%;
    position: relative;
    text-align: center;
}

#Mapsvg {
    margin-top: -20px;
}

a:focus,
a:hover {
    text-decoration: none;
}

/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #4F4F4F;
}

/* 导航条链接 */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#ChinaVisContainer {
    padding-top: 0.1%;
    padding-left: 3%;
}

.ChinaVis {
    margin-left: 1%;
    display: block;
    opacity: 1;
    background-color: #FFF;
    color: black;
    border: 2px solid #008CBA;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* position: absolute; */
    font-size: 12px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 2px;
}

#return {
    opacity: 0;
    background-color: "#f1f1f1";
    color: black;
    border: 2px solid #008CBA;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    position: relative;
    font-size: 12px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 2px;
}

#return:hover {
    background-color: #008CBA;
    color: "#f1f1f1";
}

.Provincebar {
    max-width: 50px;
    fill: #9ad9f9
}

.Provincebar:hover {
    fill: #20a9ee;
    opacity: 0.8;
}

.Provincebar.active{
    fill: #20a9ee;
    opacity: 0.8;
}

#InstitutionBarsvg {
    margin-top: -20px;
}

.Institutionbar {
    max-width: 50px;
    /*fill: #9ad9f9*/
}

.Institutionbar:hover {
    fill: #20a9ee
}

.TimeLinebar{
    max-width: 50px;
    fill: #9ad9f9
}

.TimeLinebar:hover {
    fill: #20a9ee
}

#leftcolumn {
    padding-left: 1%;
    left: 0;
}

#rightcolumn1 {
    left: 0;
}

#rightcolumn2 {
    left: 0;
}

/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/*响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .leftcolumn2,
    .leftcolumn3,
    .middlecolumn1,
    .middlecolumn2,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/*响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局*/
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.axis path,
.axis line {
    /*坐标的样式*/
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.高校 {
    /*柱状条的样式*/
    fill: #6CA6CD;
}

.高校:hover {
    fill: #4A708B;
}

.企业 {
    /*柱状条的样式*/
    fill: #CD96CD;
}

.企业:hover {
    fill: #483D8B;
}

.研究机构 {
    /*柱状条的样式*/
    fill: #FFB6C1;
}

.研究机构:hover {
    fill: #B03060;
}

.政府机构 {
    /*柱状条的样式*/
    fill: #FFA54F;
}

.政府机构:hover {
    fill: #8B5A2B;
}

.其他 {
    /*柱状条的样式*/
    fill: #8FBC8F;
}

.其他:hover {
    fill: #2E8B57;
}

.bar--k6 {
    /*柱状条的样式*/
    fill: #EEDC82;
}

.bar--k6:hover {
    fill: #8B814C;
}

.bar--k7 {
    /*柱状条的样式*/
    fill: #FA8072;
}

.bar--k7:hover {
    fill: #CD5555;
}

.x.axis path {
    display: none;
}

.y.axis path {
    display: none;
}

.d3-tip {
    /*提示框的样式*/
    display: flex;
    flex-direction: column;
    position: absolute;
    /*不可缺少*/
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background-color: antiquewhite;
    color: #fff;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    ;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: antiquewhite;
    content: '\25BC';
    position: absolute;
    /*不可缺少*/
    text-align: center;
    top: 38px;
    left: -1px;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.state {
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 0.16%;
    fill-opacity: 0.7;
}

#map_nanhai_box{
    stroke-width: 0.16%;
}
.g-small-province{
    stroke-width: 0.19%;
}

.state.inactive {
    fill-opacity: 0.3;
}

.state.active {
    fill-opacity: 1;
}

.state:hover {
    fill-opacity: 1;
}

.tooltip {
    position: absolute;
    text-align: center;
    background: lightsteelblue;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.9);
    border: 1% solid grey;
    border-radius: 10%;
    padding: 0.4% 0.4% 0.8% 0.4%;
    color: white;
    opacity: 0;
    width: 6%;
}

.tooltip h4 {
    margin: 6%;
    font: 1rem sans-serif;
}

.tooltip table {
    table-layout: fixed;
    width: 100%;
}

.tooltip tr td {
    padding: 1% 1%;
    margin: 0;
    text-align: center;
    width: 30%;
    font: 1px sans-serif;
}

text {
    font-size: 12px;
}

.mainBars rect {
    shape-rendering: auto;
    fill-opacity: 0;
    stroke-width: 0.5px;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0;
}

.subBars {
    shape-rendering: crispEdges;
}

.edges {
    stroke: none;
    fill-opacity: 0.5;
}

.header2 {
    text-anchor: middle;
    font-size: 16px;
}

line {
    stroke: grey;
}

.line {
    fill: none;
    stroke:#8EE5EE;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #98F5FF;
    stroke: #fff;
}
  
.focus circle {
  fill: #00C5CD;
  stroke: steelblue;
}